body
{
  margin:0;
  font-family:Arial,freesons,Helvetica;
}

/*centers in the middle*/
.fixed-width
{
  width:1000px;
  margin:0 auto;
}

.top-bar
{
  background-color:white;
  width:100%;
  height:40px;
  color:black;
}

.top-bar ul
{
  margin:0;
  padding:0;
}

.top-bar ul li
{
  list-style:none;
  float:left;
  border:1px solid #B4B4B4; 
  font-weight:bold;
  font-size:1em;
  padding:10px 20px 7.5px 30px;
}

.news-bar
{
  background-color:#BB1919;
  width:100%;
  height:60px;
  color:white;
}

.news-bar p
{
  margin:0;
  padding:0;
  font-size:2em;
  fant-family:arial;
  position:relative;
  right:2px;
}


.category-bar
{
  background-color:#A91717;
  width:100%;
  height:30px;
  color:white;
}

.category-bar ul
{
  margin:0;
  padding:0;
  list-style:none;
}

.category-bar ul li
{
  float:left;
  fant-family:Arial;
  font-size:0.9em;
  position:relative;
  right:10px;
  top:2px;
  border-right:1px solid #BB4545;
  padding: 3px 10px 7px 10px;
}

.location-bar
{
   
  background-color:white;
  width:100%;
  height:40px;
  color:black;
}

.location-bar ul
{
  list-style:none;
  margin:0;
  padding:0;
  
}

.location-bar ul li
{
  float:left;
  FONT-SIZE:0.8EM;
  font-family:Arial;
  position:relative;
  right:13px;
  padding:0px 12px 0px 12px;
  border-right:1px solid #B4B4B4;
}

.content
{
  background-color:white;
  width:100%;
  color:#000000;
}

.content h1
{
  color:#1167A8
}

.content img
{
  float:right;
  position:relative;
  right:330px;
}

.content p
{
  width:215px;
}

.content a
{
  text-decoration:none;
}

.watch-listen
{
  float:right;
  position:relative;
  bottom:400px;
  right:200px;
  border-left:1px solid #B4B4B4;
  padding: 0 0 0 25px;
}

.watch-listen h2
{
 font-family:Arial;
  font-weight:100;
  margin:0 0 20px 0;
  padding:0; 
}

.watch-listen img
{
  position:relative;
  right:5px;
}

#content-links
{
  width:250px;
  margin-top:60px;
  line-height:1.7em;
}

#logo
{
  float:left;
  border-right: 1px solid #B4B4B4;
  padding-top:6px;
  padding-right:10px;
  padding-bottom:6px;
}

#sign-in
{
  font-weight:bold;
  font-size:1.1em;
  float:left;
  padding:10px 50px 10px 10px;
  border-right:1px solid #B4B4B4;
}

#search-box
{
   float: left;
   width: 20px;
   padding:10px;
}

#search-box input
{
  background-image:url('https://nav.files.bbci.co.uk/searchbox/d08dde40e983de195f67142a3322020f/img/gel-icon-search-dark.svg');
  background-position:right center;
  background-repeat:no-repeat;
}